body { 
    background-color: #FFC425;
    background-image: url(background.jpg);
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#wrapper { 
    width: 80%;
    min-width: 700px;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #cccccc; 
    box-shadow: 3px 3px 3px #666666;
    display: flex;
    flex-direction: column;
}

.content-container {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
}

header { 
    background-color: #231F20;
    color: #ffffff;
    padding-bottom: 10px;
}

h1 { 
    line-height: 200%;
    text-align: center;
    margin: 0;
    background-color: #231F20;
    color: #ffffff;
}

nav { 
    font-family: "Press Start 2P", "consolas", "sans-serif";
    font-size: 14px;
    font-weight: bold;
    width: 180px;
    padding: 20px;
    position: sticky;
    top: 20px;
    height: fit-content;
    flex-shrink: 0;
}

nav ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-bottom: 15px;
}

nav a { text-decoration: none; color: inherit; font-size: 14px; }
nav a:link { color: #000033; }
nav a:visited { color: #344873; }
nav a:hover { color: #FFC425; }

main { 
    background-color: #FFFFFF;
    padding: 20px;
    min-height: 400px;
    flex-grow: 1;
    border-left: 1px solid #cccccc;
}

footer { 
    font-size: 0.70em;
    text-align: center;
    font-style: italic;
    padding: 20px;
    background-color: #FFFFFF;
    border-top: 1px solid #cccccc;
}

h2 {
    font-family: "Press Start 2P", "consolas", "sans-serif";
    font-style: italic;
    font-size: 24px;
    image-rendering: pixelated;
}

h3 {
    font-family: "Press Start 2P", "consolas", "sans-serif";
    font-size: 20px;
    image-rendering: pixelated;
}

.team-member {
    display: flex;
    align-items: flex-start;
    font-family: "Press Start 2P", "consolas", "sans-serif";
    font-size: 14px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #cccccc;
    padding-bottom: 15px;
}

.team-member img {
    margin-right: 20px;
    flex-shrink: 0;
}

.team-member h3 {
    margin-top: 0;
    color: #231F20; 
}

.team-member p {
    font-style: italic;
}

.game-title {
    font-family: "Press Start 2P", cursive;
    font-size: 32px;
    color: #FFC425;
    text-shadow: 3px 3px 0px #000000;
    display: inline-block;
    padding-top: 10px;
}

.sub-title {
    font-family: "Press Start 2P", cursive;
    font-size: 24px;
    color: #FFC425;
    text-shadow: 3px 3px 0px #000000;
    display: inline-block;
    padding-top: 10px;
}
